{% if shop.metafields.my_app.announcement.value != blank %}
  <div class="announcement-banner">
    {{ shop.metafields.my_app.announcement.value }}
  </div>
{% endif %}

<style>
 .announcement-banner {
  background-color: #942b2b;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: sticky;
  top: 0;
  z-index: 999;
 
}
</style>

{% schema %}
{
  "name": "Announcement Banner",
  "target": "head",
  "settings": []
}
{% endschema %}